body,
html {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

* {/*Esse asterisco significa que vale para tudo*/
    box-sizing: border-box;
}

.bg-image {
    background-image: url("img/happy-customers-mobile-app.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botoes_login_ou_cadastro {
    background-color: Transparent;
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 40px;
    text-align: left;
}

.bg-header_image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 40px;
    text-align: center;
}

#buttonlogin,
#buttoncadastrar {
    width: 100%;
    background-image: linear-gradient(to bottom right, #7519DC, #DD586B);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 15px 0px 10px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#buttoncadastro {
    width: 100%;
    background-color: Transparent;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 10px 0px 10px 0px;
    border: 1.1px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

#buttoncadastro:hover {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
    box-shadow: 0 0 2pt 2pt #ccc;
}

#buttonlogin:hover, 
#buttoncadastrar:hover {
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
}

#buttonlogin:focus,
#buttoncadastrar:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

#buttoncadastro:focus {
    outline-width: 0;
}
/*-------------------------------------------------------LOGIN--------------------------------------*/

.card_Login {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 40px;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.titulo_Login {
    background: -webkit-linear-gradient(135deg, #9E32B5, #f26d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 37px;
    top: 5%;
    margin: 20px 0px 20px 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.bg-header_image_Login {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: 20px 0px 20px 0px;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 40px;
    text-align: center;
}

input[type=number],
input[type=password],
input[type=text],
select {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 16px;
    padding: 12px 20px;
    margin: 5px 0px 18px 0px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

input[type=submit]:hover {
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
}

input[type=password]:hover,
input[type=text]:hover,
input[type=number]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

select {
    width: 100%;
    padding: 13px 20px;
    border: 0px solid #ccc;
    border-radius: 8px;
    margin: 5px 0px 18px 0px;
    background-color: rgba(255, 255, 255, 0.3);
}

select:focus {
    outline-width: 0;
    box-shadow: 0 0 2pt 2pt #ccc;
}

option {
    width: 100%;
    padding: 16px 20px;
    border: 0px solid #ccc;
    background-color: rgb(176, 107, 192);
}

/*********************************************CADASTRO**********************************************************/

.bg-imageCadastro {
    background-image: url("img/Woman on the phone.jpg");
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_Cadastro {/*Card onde fica o form em si*/
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    margin: 10px 0px 10px 0px;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 35px;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.titulo_Cadastro {/*Titulo Cadastre-sse*/
    background: -webkit-linear-gradient(135deg, #9E32B5, #f26d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    font-size: 33px;
    top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.bg-header_imageCadastro {/*Logo no cadastro*/
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 40px;
    text-align: center;
}

/***********************************************PAGINA INICIAL**************************************************************/

.bg-imagePagInic {
    background-image: url("img/Background_gradient_wallpaper.jpg");
    height: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.card_PagInic {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: 2;
    width: 98%;
    height: 600px;
    padding: 5px;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.topnav { /*Barra de navegacao em si*/
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    backdrop-filter: blur(7px);
    top: 5px;
    width: 98%;
    left: 20px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.topnav a,
.topnav b {/*Botoes da barra de navegacao*/
    color: white;
    border-radius: 5px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 20px 16px 30px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.topnav a {
    float: left;
}

.topnav b {
    float: right;
}

.topnav a:hover,
.topnav b:hover {
    background-image: linear-gradient(to bottom right, #9E32B5, #f26d80);
    color:white;
    cursor: pointer;
}

.topnav a.active,
.topnav b.active {
    background-image: linear-gradient(to bottom right, #7519DC, #DD586B);
    color: white;
}

.logo-imagePagInic {
    width: 60px;
    height: 50px;
    overflow: hidden;
    margin-top: -15px;
    margin-left: -5px;
}

.footerPagInic {
    color: white;
    font-style: italic;
    font-size: 15px;
    z-index: 2;
    position: absolute;
    top: 712px;
    left: 700px;
}

.image_textEscrever,
.image_textApagar,
.image_textEnviar,
.image_textMensagens {
    background-color: Transparent;
    position: absolute;
    left: 670px;
    z-index: 2;
    padding: 5px;
    text-align: center;
}

.image_textEscrever {
    top: 68px;
    height: 600px;
}

.image_textApagar {
    top: 65px;
    height: 600px;
}

.image_textEnviar {
    top: 65px;
    height: 600px;
}

.image_textMensagens {
    top: 70px;
    height: 600px;
}